.logo_place_header {
    /*задаём абсолютное позиционирование для логотипа и задаём ему положение*/
    position: absolute;
    top: 30px;
    left: 64px;
    /* по заданию необходимо, что бы логотип был поверх других блоков, для этого используем z-index*/
    z-index: 3;
  }