.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    /* убрали отсюда центрирование, так как для этого используется класс для выравниня блока по центру */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    /*центрируем блок*/
    margin: 0 auto;
  }