.feynman {
    /*здаём высотку всему блоку и относительное позиционирование*/
    min-height: 890px;
    position: relative;
    /*добавляем картинку с расположением по горизонтали 0, по вертикали 100%, убираем повторение*/
    background: url(../../images/feynman.png) 0 100% no-repeat;
    /*задаём размер картинки*/
    background-size: 867px 637px;
    /* задаём цвет фона*/
    background-color: #f2f2f2;
  }