.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    position: relative;
    /* выставляем позиционирование relative для logo_place_header */
    background-color: #f2f2f2;
    /* задаём цвет фона*/
    overflow: hidden;
  }