.header__subtitle {
    margin: 0;
    /* задаём абсолютное позиционирование, расположение и ширину подзаголовку*/
    position: absolute;
    bottom: 30px;
    left: 64px;
    max-width: 388px;
    /* задаём размер шрифта, высоту строки и начертание шрифта*/
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    /* по заданию необходимо, что бы подзаголовок был поверх других блоков, для этого используем z-index*/
    z-index: 3;
  }