.footer__column-heading {
    /*задаём высоту строки, размер шрифта и начертание для колонки с навигацией*/
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px 0;
  }