.table__heading {
    /*задаём отступ снизу, высоту строки, размер шрифта, и начертание для заголовка ячейки*/
    margin: 0 0 20px 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
  }