.table__text {
    /*задаём высоту строки и размер шрифта для текста в ячейке*/
    line-height: 1.2;
    font-size: 18px;
    /*задаём отступ для параграфов ячейки*/
    margin: 20px 0 0 0;
    font-weight: 400;
}